body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.shape-container {
    display: none;
}

.shape {
    border: 1px solid red;
    border-radius: 20%;
    width: 20vw;
    height: 20vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.shapeTextDiv {
    /**/
}
